<!DOCTYPE html>
<html>

<head>
    <title>Tango</title>
    <link rel="stylesheet" href="./static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1><a id="title" href="/" title="Go Home">Tango 🎋</a></h1>
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="English or Japanse" required>
    </form>
    <section>
        <p>
            This website is a Japanese-English dictionary, it provides a simple way to look up Japanese words and their English meanings.
        </p>
        <p>
            While it's still in <b>very</b> development, the goal is to create a resource similar to <a href="https://jisho.org/" target="_blank" rel="noopener noreferrer">Jisho.org</a>.
        </p>
        <p>
            As a lot of other places, I'm using JMDICT to get the dictionary content. This project is open-sourced on my <a href="https://github.com/izquiratops/tango" target="_blank" rel="noopener noreferrer">Github</a><img id="github_icon" src="./static/github-mark.svg" title="ニャー～">.
        </p>
    </section>
</body>
</html>