:root {
    /* light theme */
    --primary-color: #89AC46;
    --secondary-color: #D3E671;
    --tertiary-color: #F8ED8C;
    --background-color: #FBFFDC;
    --foreground-color: #000000;

    /* Spacing */
    --spacing-xxs: 2px;
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 40px;

    /* Font sizes */
    --font-size-small: 0.8em;
    --font-size-medium: 12pt;
    --font-size-large: 1.15em;
    --font-size-extra-large: 1.4em;

    /* Container widths */
    --container-width: 900px;
}

html {
    overflow-y: scroll;

    /* prevents browsers from automatically adjusting text size on mobile devices when the page orientation changes or when zooming */
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,
input,
button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--font-size-medium);
    font-weight: 400;
    font-style: normal;
    color: var(--foreground-color);
    line-height: 1.4em;
}

body {
    background-color: var(--background-color);
    margin: 0 auto;
    max-width: var(--container-width);
    padding-inline: var(--spacing-sm);
    padding-bottom: var(--spacing-xxl);
}

a {
    cursor: pointer;
    color: var(--primary-color);
}

h1 {
    line-height: 1.2em;
}

h2 {
    font-size: var(--font-size-large);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    gap: var(--spacing-sm);
}

input[type="text"] {
    width: 100%;
    font-size: var(--font-size-medium);
    color: #000000;
    padding: var(--spacing-xs) var(--spacing-sm);
    border: 4px solid var(--primary-color);
    border-radius: 0px;
}

.search::before {
    content: "Search: ";
    font-weight: 400;
}

.entry {
    display: grid;
    grid-template-columns: 130px min-content 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: var(--spacing-md);
    margin-block-end: var(--spacing-md);
}

.word {
    grid-row: 1;
    grid-column: 1 / -1;
    font-size: var(--font-size-extra-large);
}

.tags {
    grid-row: 2;
    grid-column: 1 / 2;
}

.zig-zag-line {
    grid-row: 2;
    grid-column: 2 / 3;

    --a: 90deg;
    --s: 16px;
    --b: 2px;

    background: var(--primary-color);
    width: calc(var(--b) + var(--s)/(2*tan(var(--a)/2)));
    --_g: 100% var(--s) repeat-y conic-gradient(from calc(90deg - var(--a)/2) at left,
            #0000,
            #000 1deg calc(var(--a) - 1deg),
            #0000 var(--a));
    mask: var(--b) 50%/var(--_g) exclude, 0 50%/var(--_g);
}

.meanings {
    grid-row: 2;
    grid-column: 3 / -1;
    padding-inline-start: var(--spacing-md);

    counter-reset: item;

    li:before {
        content: counter(item) ". ";
        counter-increment: item;
        font-weight: 200;
    }
}

.chip {
    position: relative;
    display: inline-block;
    font-size: var(--font-size-small);
    padding: 0 var(--spacing-sm);
    border-radius: var(--spacing-xs);
    border: 1px solid var(--primary-color);
    background: var(--secondary-color);
}

#title {
    text-decoration: none;
    color: inherit;
}

#github_icon {
    height: 1em;
    margin-inline-start: var(--spacing-xs);
}

@media screen and (min-width: 480px) {
    body {
        --font-size-medium: 14pt;
        --font-size-large: 1.2em;
        --font-size-extra-large: 1.6em;
    }
}

@media (prefers-color-scheme: dark) {
    /* dark theme */
    :root {
        --primary-color: #9DDE8B;
        --secondary-color: #1E5128;
        --tertiary-color: #D8E9A8;
        --background-color: #191919;
        --foreground-color: #FFFFFF;
    }

    #github_icon {
        filter: invert(1);
    }
}